footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.178);

}

footer .flex {
    justify-content: space-between;
    
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid var(--main-color);
}



footer .line-footer p i{
    color: var(--main-color);
    font-size: 22px;
}

footer .line-footer p a {
    color: var(--main-color);
}

